html {
    font-family: "Fira Code Light", "LXGW WenKai Lite";
    font-size: 18px;
}

code {
    font-family: "Fira Code Light", monospace;
}

.friend-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend-link {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* 添加这一行来使头像垂直居中 */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: auto;
    max-height: 150px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .friend-link {
        width: 100%;
    }
}

.friend-link-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-link-content {
    display: flex;
    flex-direction: column;
}

.friend-link-content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #333;
}

.friend-link-content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #666;
    word-wrap: break-word;
}

/* Twikoo 样式修改 */

.tk-comment {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 0.5rem;
}

#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
}

.el-textarea__inner {
    height: 200px !important;
}

.candy {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f00; /* 糖果颜色 */
  border-radius: 50%;
  pointer-events: none; /* 阻止糖果元素阻止鼠标事件 */
}