html {
    font-family: "LXGW WenKai";
    font-size: 18px;
}

.friend-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend-link {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: auto;
}

.friend-link-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-link-content {
    display: flex;
    flex-direction: column;
}

.friend-link-content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #333;
}

.friend-link-content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #666;
    word-wrap: break-word;
}

.tk-comment {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 0.5rem;
}