{{ $friends := getJSON "static/jsons/friends.json" }}
<div class="friend-link-container">
    {{ range $friends.friend}}
    <div class="friend-link">
        <img src="{{ with .ava }}{{ if ne . "" }}{{ . }}{{ else }}https://cravatar.cn/avatar/{{ .md5 }}{{ end }}{{ else }}https://cravatar.cn/avatar/{{ .md5 }}{{ end }}" alt="{{ .name }}" class="friend-link-avatar">
        <div class="friend-link-content">
            <h3>{{ .note }}（{{ .name }}）</h3>
            <p>{{ .des }}</p>
        </div>
    </div>
    {{ end }}
</div>